.card__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  flex-wrap: wrap;
}
.card__grid .user__card {
  width: 30%;
  max-height: 350px;
  min-height: 200px;
  background-color: #ffe8d6;
  margin-top: 20px;
  padding: 20px 10px;
  color: #ff971d;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.card__grid .user__card .buttons__view {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__grid .user__card button {
  background-color: #ff971d;
  color: #fff;
  width: 100px;
  padding: 10px 15px;
  border: none;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 12px;
}

.card__grid .user__card .email__script {
  margin: 10px 0px;
  text-transform: lowercase;
}
.card__grid .user__card {
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  .card__grid {
    display: block;
    width: 90%;
    margin-left: 5%;
  }
  .card__grid .user__card {
    width: 100%;
    margin-bottom: 15px;
  }
}
